<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="heading">
          <h3>Edit Unit</h3>
          <h6 class="font-lite-black">education</h6>
        </div>
      </div>

      <div class="col-lg-8">
        <%= form_with(model: @unit, url: update_unit_path) do |form| %>
          <div class="form-group">
            <label>Unit Title:</label><span class="font-red">*</span>
            <%= form.text_field :unit, class: 'form-control', placeholder: 'Project Management', required: true %>
          </div>

          <div class="form-group">
            <label>Description:</label><span class="font-red">*</span>
            <%= form.text_area :description, class: 'form-control', rows: 5, placeholder: 'Type here...', required: true %>
          </div>

          <div class="form-group">
            <label>Grade:</label><span class="font-red">*</span>
            <%= form.text_field :grade, class: 'form-control', placeholder: 'FIRST', required: true %>
          </div>

          <%= form.submit 'Update', class: 'focused-button' %>
        <% end %>
      </div>
    </div>
  </div>
</section>
