<div class='row'>
  <div class='col-lg-4'>
    <div class='heading'>
      <h3>Social</h3>
      <h6 class='font-lite-black'>Social links</h6>
    </div>
  </div>

  <div class='col-lg-8'>
    <div class='experience-wrapper'>
      <%= link_to 'Add Social Link', new_social_path, class: 'focused-link' %>
      <table class='table'>
        <thead>
          <tr>
            <th scope='col'>Pos.</th>
            <th scope='col'>Entity</th>
            <th scope='col' colspan=2>Icon</th>
            <th scope='col'>Url</th>
            <th scope='col' colspan=2>Manage</th>
          </tr>
        </thead>

        <tbody>
          <% @socials.each do |social| %>
            <tr>
              <td><%= social.position %></td>
              <td><%= social.friendly_name %></td>
              <td><i class='<%= social.icon %>'></td>
              <td><%= social.icon %></i></td>
              <td><%= social.url %></td>
              <td><%= link_to 'edit', edit_social_path(social), class: 'focused-link' %></td>
              <td><%= link_to 'remove', delete_social_path(social), method: :delete, class: 'focused-link-danger', data: { confirm: 'Are you sure? This action can not be undone.' }%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
