<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="heading">
          <h3>Add Social Icon</h3>
        </div>
      </div>

      <div class="col-lg-8">
        <%= form_with(model: @social, url: create_social_path) do |form| %>
          <div class="form-group">
            <label>Friendly Name:</label><span class="font-red">*</span>
            <%= form.text_field :friendly_name, class: 'form-control', placeholder: 'email', required: true %>
          </div>

          <div class="form-group">
            <label>URL:</label><span class="font-red">*</span>
            <%= form.text_field :url, class: 'form-control', placeholder: 'https://url.co.uk', required: true %>
          </div>

          <div class="form-group">
            <label>Icon</label><span class="font-red">*</span>
            <%= form.text_field :icon, class: 'form-control', placeholder: 'fa fa-book', required: true %>
          </div>

          <div class="form-group">
            <label>Display on mobile? (optional)</label><span class="font-red">*</span>
            <%= form.text_field :display, class: 'form-control', placeholder: 'y / n' %>
          </div>

          <div class="form-group">
            <label>Position</label><span class="font-red">*</span>
            <%= form.number_field :position, class: 'form-control', placeholder: '1..10', required: true %>
          </div>

          <%= form.submit 'Submit', class: 'focused-button' %>
        <% end %>
      </div>
    </div>
  </div>
</section>
