<div class='row'>
  <div class='col-lg-4'>
    <div class='heading'>
      <h3>Profile</h3>
      <h6 class='font-lite-black'>Introduction Detail</h6>
    </div>
  </div>

  <div class='col-lg-8'>
    <div class='experience-wrapper'>
      <% @profile.each do |profile| %>
        <p><%= "#{profile.title}: #{profile.value}"%> <%= link_to 'edit', edit_profile_path(profile), class: 'focused-link' %></p>
      <% end %>
    </div>
  </div>
</div>
