<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="heading">
          <h3>Add Profile</h3>
          <h6 class="font-lite-black">Name & Position</h6>
        </div>
      </div>

      <div class="col-lg-8">
        <%= form_with(model: @profile, url: create_profile_path) do |form| %>
          <div class="form-group">
            <label>Title:</label><span class="font-red">*</span>
            <%= form.text_field :title, class: 'form-control', placeholder: 'name', required: true %>
          </div>

          <div class="form-group">
            <label>Value:</label><span class="font-red">*</span>
            <%= form.text_field :value, class: 'form-control', placeholder: 'Charlie Campbell', required: true %>
          </div>

          <%= form.submit 'Submit', class: 'focused-button' %>
        <% end %>
      </div>
    </div>
  </div>
</section>
