<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="heading">
          <h3>Add Tag</h3>
          <h6 class="font-lite-black">education</h6>
        </div>
      </div>

      <div class="col-lg-8">
        <%= form_with(model: @tag, url: create_tag_path) do |form| %>
          <div class="form-group">
            <label>Tag:</label><span class="font-red">*</span>
            <%= form.text_field :tag, class: 'form-control', placeholder: 'i.e. RUBY, RAILS', required: true, autofocus: true %>
          </div>

          <div class="form-group">
            <label>Colour:</label>

            <%= form.select :colour, options_for_select(
                  [
                    ['Red', 'danger'], ['Green', 'success'], ['Yellow', 'warning'],
                    ['Blue', 'info'], ['Purple', 'light'], ['Black', 'dark']
                  ]
                ), {}, class: 'form-control'
              %>
          </div>

          <%= form.submit 'Submit', class: 'focused-button' %>
        <% end %>
      </div>
    </div>
  </div>
</section>
