<div class='row'>
  <div class='col-lg-4'>
    <div class='heading'>
      <h3>Experience</h3>
      <h6 class='font-lite-black'>highlights</h6>
      <%= link_to 'new', new_highlight_path, class: 'focused-link' %>
    </div>
  </div>

  <div class='col-lg-8'>
    <div class='experience-wrapper'>
      <% @highlights.each do |highlight| %>
        <div class='experience margin-b-50'>
          <h4><%= highlight.title %></h4>
          <h5><%= highlight.organisation %></h5>
          <h6 class='font-lite-black margin-t-10'><%= duration_for(highlight) %></h6>
          <p class='margin-tb-10'><%= highlight.description %></p>
          <%= link_to 'more info', highlight.url, class: 'focused-link' unless highlight.url.empty? %>
          <%= link_to 'edit', edit_highlight_path(highlight), class: 'focused-link' %>
          <span class='or'>or</span>
          <%= link_to 'remove', delete_highlight_path(highlight), method: :delete, class: 'focused-link-danger', data: { confirm: 'Are you sure? This action can not be undone.' }%>
        </div>
      <% end %>
    </div>
  </div>
</div>
