<section class="experience-section section">
  <div class="container">
    <div class="row">
      <%= title(heading: 'Experience', subheading: 'highlights') %>

      <div class="col-lg-8">
        <div class="experience-wrapper">
          <% @highlights.each do |highlight| %>
            <div class="experience margin-b-50">
              <h4><%= highlight.title %></h4>
              <h5><%= highlight.organisation %></h5>
              <h6 class="font-lite-black margin-t-10"><%= duration_for(highlight) %></h6>
              <p class="margin-tb-10"><%= highlight.description %></p>
              <%= link_to 'more info', highlight.url, class: 'focused-link' unless highlight.url.empty? %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <%= title(heading: 'Toolkit', subheading: 'tools & technologies') %>

      <div class="col-lg-8">
        <div class="project-links">
          <span class="tools">
            <% @tools.each do |language|%>
              <%= badge_for(language) %>
            <% end %>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
