<section class='experience-section section'>
  <div class='container'>
    <%= render 'backend/admin/profile/list_all' %>
    <%= render 'backend/admin/social/list_all' %>
    <%= render 'backend/highlights/list_all' %>
    <%= render 'backend/tools/list_all' %>
  </div>
</section>
