<div class='row'>
  <div class='col-lg-4'>
    <div class='heading'>
      <h3>Toolkit</h3>
      <h6 class='font-lite-black'>Tools & Technologies</h6>
      <%= link_to 'new', new_tool_path, class: 'focused-link' %>
    </div>
  </div>

  <div class='col-lg-8'>
    <span class='tools'>
      <% @tools.each do |language|%>
        <%= linked_badge_for(language) %>
      <% end %>
    </span>
  </div>
</div>
