<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="heading">
          <h3>New Tool</h3>
        </div>
      </div>

      <div class="col-lg-8">
        <%= form_with(model: @tool, url: create_tool_path) do |form| %>
          <div class="form-group">
            <label>Tool:</label><span class="font-red">*</span>
            <%= form.text_field :tool, class: 'form-control', placeholder: 'i.e. ruby or vscode', required: true, autofocus: true %>
          </div>

          <div class="form-group">
            <label>Colour:</label>
            <%= form.select :colour, options_for_select(
                [
                  ['Red', 'danger'], ['Green', 'success'], ['Yellow', 'warning'],
                  ['Blue', 'info'], ['Purple', 'light'], ['Black', 'dark']
                ]
              ), {}, class: 'form-control'
            %>
          </div>

          <%= form.submit 'Submit', class: 'focused-button' %>
        <% end %>
      </div>
    </div>
  </div>
</section>
