<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="heading">
          <h3><%= @qualification.title %></h3>
          <h6 class="font-lite-black"><%= @qualification.organisation %></h6>
        </div>

        <%= link_to 'Update Qualifcation Details', edit_qualification_path(@qualification), class: 'focused-link' %><hr>
        <%= link_to 'Delete Qualification', delete_qualification_path(@qualification), method: :delete, class: 'focused-link-danger', data: { confirm: 'Are you sure? This action can not be undone.' } %>
      </div>

      <div class="col-lg-8">
        <% @qualification.years.order('updated_at DESC').each do |year| %>
          <div class="experience margin-b-50">
            <h4>
              <%= year.title %>
              <small class="font-blue">
                <%= year.grade %>
                <%= link_to 'edit', edit_year_path(year), class: 'focused-link' %> <span class="or">or</span>
                <%= link_to 'remove', delete_year_path(year), method: :delete, class: 'focused-link-danger', data: { confirm: 'Are you sure? This action can not be undone.' } %>
              </small>
            </h4>

            <% year.units.each do |unit| %>
              <h5><%= unit.unit %><small class="font-lightblue"> <%= unit.grade %></small></h5>
              <p class="margin-tb-10"><%= unit.description %></p>
              <% unit.tags.each do |tag| %>
                <%= linked_tag_for(tag) %>
              <% end %>

              <br>
              <%= link_to 'add tag', new_tag_path(unit), class: 'focused-link' %>
              <br>

              <%= link_to 'edit', edit_unit_path(unit), class: 'focused-link' %> <span class="or">or</span>
              <%= link_to 'remove', delete_unit_path(unit), method: :delete, class: 'focused-link-danger', data: { confirm: 'Are you sure? This action can not be undone.' } %>

              <hr>
            <% end %>

            <%= link_to 'Add Unit', new_unit_path(year), class: 'focused-link' %>
          </div>
        <% end %>
        <%= link_to 'Add Academic Year', new_year_path(@qualification), class: 'focused-link' %>
      </div>
    </div>
  </div>
</section>
