<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="heading">
          <h3>Add Qualification</h3>
          <h6 class="font-lite-black">education</h6>
        </div>
      </div>

      <div class="col-lg-8">
        <%= form_with(model: @qualification, url: create_qualification_path) do |form| %>
          <div class="form-group">
            <label>Qualification Title:</label><span class="font-red">*</span>
            <%= form.text_field :title, class: 'form-control', placeholder: 'BSc Software Engineering', required: true %>
          </div>

          <div class="form-group">
            <label>Organisation:</label><span class="font-red">*</span>
            <%= form.text_field :organisation, class: 'form-control', placeholder: 'Bournemouth University', required: true %>
          </div>

          <%= form.submit 'Submit', class: 'focused-button' %>
        <% end %>
      </div>
    </div>
  </div>
</section>
