<section class='section'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-4'>
        <div class='heading'>
          <h3>Update Project / Blog</h3>
        </div>
      </div>

      <div class='col-lg-8'>
        <%= form_with(model: @project, url: update_project_path) do |form| %>
          <div class='form-group'>
            <label>Friendly Name (display name):</label><span class='font-red'>*</span>
            <%= form.text_field :friendly_name, class: 'form-control', placeholder: 'lynnecampbell.co.uk', required: true %>
          </div>

          <div class='form-group'>
            <label>URL:</label><span class='font-red'>*</span>
            <%= form.text_field :url, class: 'form-control', placeholder: 'https://lynnecampbell.co.uk', required: true %>
          </div>

          <div class='form-group'>
            <label>Poisition:</label><span class='font-red'>*</span>
            <%= form.number_field :position, class: 'form-control', placeholder: '1..10', required: true %>
          </div>

          <div class='form-group'>
            <label>Blog post? (optional)</label>
            <%= form.text_field :blog, class: 'form-control', placeholder: 'y / n' %>
          </div>

          <hr>

          <%= form.submit 'Submit', class: 'focused-button' %>
        <% end %>
      </div>
    </div>
  </div>
</section>
