<section class='project-section section'>
  <div class='container'>
    <div class='row'>
    <%= link_to 'new', new_project_path, class: 'project-link' %>
      <div class='col-lg-6'>
        <div class='project-links'>
          <h4 class='project-title'>Projects</h4>

          <hr class='project-divider'>

          <% @projects.each do |project| %>
            <%= link_to project.friendly_name, project.url, class: 'project-link' %>
            <%= link_to 'edit', edit_project_path(project), class: 'focused-link' %>
            <%= link_to 'remove', delete_project_path(project), method: :delete, class: 'focused-link-danger', data: { confirm: 'Are you sure? This action can not be undone.' }%>
          <% end %>
        </div>
      </div>

      <div class='col-lg-6'>
        <div class='project-links'>
          <h4 class='project-title blog-posts'>Blog Posts</h4>

          <hr class='project-divider'>

          <% @blogs.each do |project| %>
            <%= link_to project.friendly_name, project.url, class: 'project-link' %>
            <%= link_to 'edit', edit_project_path(project), class: 'focused-link' %>
            <%= link_to 'remove', delete_project_path(project), method: :delete, class: 'focused-link-danger', data: { confirm: 'Are you sure? This action can not be undone.' }%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
