<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="heading">
          <h3>Add Academic Year</h3>
          <h6 class="font-lite-black">education</h6>
        </div>
      </div>

      <div class="col-lg-8">
        <%= form_with(model: @year, url: create_year_path) do |form| %>
          <div class="form-group">
            <label>Title:</label><span class="font-red">*</span>
            <%= form.text_field :title, class: 'form-control', placeholder: 'First Year - General Computing', required: true %>
          </div>

          <div class="form-group">
            <label>Overall Grade:</label><span class="font-red">*</span>
            <%= form.text_field :grade, class: 'form-control', placeholder: 'FIRST', required: true %>
          </div>

          <%= form.submit 'Submit', class: 'focused-button' %>
        <% end %>
      </div>
    </div>
  </div>
</section>
