<section class='project-section section'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-6'>
        <div class='project-links'>
          <h4 class='project-title'>Projects</h4>

          <hr class='project-divider'>

          <% @projects.each do |project| %>
            <%= link_to project.friendly_name, project.url, class: 'project-link' %>
          <% end %>
        </div>
      </div>

      <div class='col-lg-6'>
        <div class='project-links'>
          <h4 class='project-title blog-posts'>Blog Posts</h4>

          <hr class='project-divider'>

          <% @blogs.each do |project| %>
            <%= link_to project.friendly_name, project.url, class: 'project-link' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
