<footer>
	<div class='footer-links'>
		<%= link_to 'HOME', root_path, class: active_home? %>

		<small>/</small>

		<%= link_to 'PROJECTS', project_path, class: active_link?('projects') %>
	</div>
</footer>
