<section class='intro-section'>
  <div class='container'>
    <div class='row'>
      <div class='col'>
        <div class='intro'>
          <% if profile('name') && profile('position') %>
            <h2 class='name'><%= profile('name').value %></h2>
            <h4 class='font-blue position'><%= profile('position').value %></h4>
          <% end %>

          <ul class='social-icons'>
            <% socials.each do |social| %>
              <li><a class='<%= mobile_icon?(social) %>' href='<%= social.url %>'><i class='<%= social.icon %>'></i></a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
