@import 'variables';

@media (prefers-color-scheme: dark) {

  body,
  footer,
  .intro-section:after,
  .intro {
    background-color: $darkmode-background;
  }

  .name,
  .heading,
  h4,
  h5,
  p,
  body {
    color: white;
  }

  hr {
    border-color: #404040;
  }

  .tool-danger {
    background-color: #b96161;
  }

  .tool-success {
    background-color: #418d52;
  }

  .tool-warning {
    background-color: #fad35b;
  }

  .tool-info {
    background-color: #4d8c96;
  }

  .tool-dark {
    background-color: #606468;
  }

  .or {
    color: white;
  }

  .modal-content,
  .form-control {
    background-color: $darkmode-background;
    color: white;
  }
}
