@import "variables";

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: white;
  padding: 1rem;
}

.footer-links {
  text-align: center;
  color: $campbell-silver;
}

.production {
  color: $campbell-lightred;
}

.production:hover {
  color: $campbell-red;
}
