@import "variables";

.intro {
  padding: 0 20px;
  margin-top: 100px;
  text-align: center;
  background: #fff;
}

.intro .information > li {
  display: block;
  margin: 5px 0;
}

.social-icons {
  padding-top: 1rem;
}

.intro .social-icons > li > a {
  font-size: 2rem;
  position: relative;
  margin: 0 5px 5px;
  color: #c0c0c0;
}

.intro .social-icons > li > a:hover {
  color: $campbell-blue;
}

.intro .social-icons > li > a:hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
}
