@import "variables";

@media (min-width: 320px) and (max-width: 1025px) {
  .container {
    margin-left: 0 !important;
    margin-right: 0 !important;

    max-width: 100% !important;

    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }

  .section {
    padding: 5rem 0 3rem;
  }

  .footer-links {
    font-size: 2.5rem;
    padding: 3rem;
  }

  .heading, h3 {
    font-size: 34px !important;
  }

  .tool, .experience .focused-link, .experience h5, .experience .font-lite-black {
    font-size: 28px !important;
  }

  .project-title, .margin-tb-10, .experience h4, .experience h5 {
    font-size: 32px !important;
  }

  .tool {
    margin: 5px !important;
  }

  .project-title {
    font-size: 55px !important;
  }

  .project-link {
    font-size: 50px !important;
    padding: 1rem;
  }

  .name {
    font-size: 3.5rem;
  }

  .position{
    font-size: 2rem;
  }

  .intro .social-icons > li > a {
    font-size: 3.5rem;
    padding: 1rem;
  }

  .hide-icon {
    display: none;
  }

  .blog-posts {
    padding-top: 8rem;
  }

  .experience-section, .project-section {
    margin-bottom: 10rem !important;
  }
}
