@import "variables";

.tools {
  text-align: left;
}

.tool {
  text-transform: uppercase;
  font-weight: 600 !important;
  margin-right: .75rem;
  display: inline-block;
}

.tool-icon {
  height: 3rem;
  width: 3rem;
}

.tool-danger {
  color: red;
}

.tool-warning {
  color: #FFC009;
}

.tool-success {
  color: #28A745;
}

.tool-info {
  color: #01AFFF;
}

.tool-light {
  color: #7300FF;
}
