<!DOCTYPE html>
<html>
  <head>
    <title>Charles Campbell</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="google-site-verification" content="xQgsh749z4LltMs4IvoaIWmOhGAL2tIl7bOldg9_xyg" />

    <%= favicon_link_tag asset_path('logo.png') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'frontend/components/intro' %>
    <%= yield %>
    <%= render 'frontend/components/footer' %>
  </body>
</html>
